<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StockWizard</title>
	<link rel="stylesheet" href="../static/assets/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/templatemo-xtra-blog.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!--
    
TemplateMo 553 Portfolio Management Platform

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mx-auto" style="text-align: center;"><img src="../static/assets/img/logo.png" alt="Image"  class="img-fluid"></div>            
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                     <li class="tm-nav-item"><a href="/info" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Stock Information
                    </a></li>                    <li class="tm-nav-item"><a href="/post" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Portfolio Performance
                    </a></li>
                    <li class="tm-nav-item"><a href="/adviceToUser" class="tm-nav-link">
                        <i class="fa fa-bar-chart"></i>
                        Portfolio Advice
                    </a></li>
                    <li class="tm-nav-item"><a href="/advice" class="tm-nav-link">
                        <i class="fa fa-bar-chart"></i>
                        General Advice
                    </a></li>
                    <li class="tm-nav-item"><a href="/about" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Us
                    </a></li>
                    <li class="tm-nav-item"><a href="/contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>

                </ul>
            </nav>
            <div class="tm-mb-65">
                <a href="https://facebook.com" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
        
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">          
            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <div class="gmap_canvas"> <!-- Google Map -->
                        <iframe width="100%" height="477" id="gmap_canvas"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.3247506536163!2d29.02315141564191!3d41.10559812137886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5c224b2ead7%3A0x4a28984b84971619!2sIstanbul%20Technical%20University!5e0!3m2!1sen!2str!4v1641671703022!5m2!1sen!2str"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>                
            </div>
            <div class="row tm-row tm-mb-120">
                <div class="col-12">
                    <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Us</h2>
                </div>
                <div class="col-lg-7 tm-contact-left">
                    <form method="POST" action="" class="mb-5 ml-auto mr-0 tm-contact-form">                        
                        <div class="form-group row mb-4">
                            <label for="name" class="col-sm-6 col-form-label text-right tm-color-primary">Mehmet Arif Demirtaş</label>
                            
                        </div>
                        <div class="form-group row mb-4">
                            <label for="email" class="col-sm-6 col-form-label text-right tm-color-primary">Yusuf Alptigin Gün</label>
                        
                        </div>
                        <div class="form-group row mb-4">
                            <label for="subject" class="col-sm-6 col-form-label text-right tm-color-primary">Muhammed Mahir Varlıoğlu</label>
                           
                        </div>
                        <div class="form-group row mb-5">
                            <label for="message" class="col-sm-6 col-form-label text-right tm-color-primary">Ali Cafer Özer</label>
                           
                        </div>                               
                    </form>
                </div>
                <div class="col-lg-5 tm-contact-right">
                    <span class="d-block">
                        Email:
                        <a href="mailto:info@company.com" class="tm-color-gray">demirtasm18@itu.edu.tr</a>
                        <span class="d-block">
                            Tel:
                            <a href="tel:060-070-0980" class="tm-color-gray">0537-705-75-03</a>
                        </span>
                    </span>
                    <span class="d-block">
                        Email:
                        <a href="mailto:info@company.com" class="tm-color-gray">gun18@itu.edu.tr</a>
                        <span class="d-block">
                            Tel:
                            <a href="tel:060-070-0980" class="tm-color-gray">0531-552-63-20</a>
                        </span>
                    </span>
                    <span class="d-block">
                        Email:
                        <a href="mailto:info@company.com" class="tm-color-gray">varlioglu16@itu.edu.tr</a>
                        <span class="d-block">
                            Tel:
                            <a href="tel:060-070-0980" class="tm-color-gray">0535-882-53-69</a>
                        </span>
                    </span>
                    <span class="d-block">
                        Email:
                        <a href="mailto:info@company.com" class="tm-color-gray">ozerca17@itu.edu.tr</a>
                        <span class="d-block">
                            Tel:
                            <a href="tel:060-070-0980" class="tm-color-gray">0533-577-03-42</a>
                        </span>
                    </span>
                </div>
            </div>      
            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2021 Portfolio Management Platform. This site is built for the BLG439E course at ITU, investment advice should not be taken seriously.
                </div>
            </footer>
        </main>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/templatemo-script.js"></script>
</body>
</html>