<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StockWizard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/fontawesome/css/all.min.css')}}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/css/templatemo-xtra-blog.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!--
    
TemplateMo 553 Portfolio Management Platform

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mx-auto" style="text-align: center;"><img src="../static/assets/img/logo.png" alt="Image"  class="img-fluid"></div>            
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="/about" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Us
                    </a></li>
                    <li class="tm-nav-item"><a href="/contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a href="https://facebook.com" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
        
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <section class="hero">
                <div class="hero-body">
                  <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                      <h3 class="title has-text-grey">Register</h3>
                      <div class="box">
                        <form action="" method="POST" name="login_page">
                          {{ form.csrf_token }}
              
                          <div class="field">
                            <div class="control">
                              {{ form.username(required=True, autofocus=True,
                                               class='input is-large',
                                               placeholder='Username') }}
                            </div>
                            {% for error in form.username.errors %}
                              <p class="help has-background-warning">
                                  {{ error }}
                              </p>
                            {% endfor %}
                          </div>
              
                          <div class="field">
                            <div class="control">
                              {{ form.password(required=True, class='input is-large',
                                               placeholder='Password') }}
                            </div>
                            {% for error in form.password.errors %}
                              <p class="help has-background-warning">
                                  {{ error }}
                              </p>
                            {% endfor %}
                          </div>
              
                          <button class="button is-block is-info is-large is-fullwidth">
                            Register
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>  
            <footer class="row tm-row", style="margin-top: 200px">
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2021 Portfolio Management Platform. This site is built for the BLG439E course at ITU, investment advice should not be taken seriously.
                </div>
            </footer>
        </main>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/templatemo-script.js"></script>
</body>
</html>